.card{
  background-color: rgba(2, 111, 111, 0.647);
}

.name{
  font-size: 3em;
  text-align: center;
}

.address{
  font-size: 0.8rem;
  background-color: #00000033;
  padding: 10px;
}

.footer{
  font-size: 2em;
  text-align: center;
  padding: 10px 0;
}

img{
  width: 180px;
  float: right;
  border: 1px solid red;
  border-radius: 5px;
}

.footer p{
  background-color: rgb(3, 140, 97);
  width: fit-content;
  margin: auto;
  padding:5px 20px;
  border-radius: 30px;
}

